.main-home {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-content {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
.left-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 75%;
  color: aliceblue;
}
.weather-info-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.weather-info.loading {
  background: url(none);
  background-color: #262540;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weather-info.loading .location-info {
  display: none;
}
.weather-info.loading .temperature-container {
  display: none;
}
.loading-content {
  display: none;
}
.weather-info.loading .loading-content {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 1rem;
}
.weather-info.loading .loading-content img {
  width: 40px;
  height: 40px;
}
.weather-info.loading .loading-content p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}
.weather-info {
  background: url("../../assets/images/bg-today-large.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 286px;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem;
  border-radius: 20px;
}
.location-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.location-info span {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}
.location-info p {
  opacity: 80%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}
.temperature-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.temperature-container span {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 6rem;
}
.temperature-container img {
  width: 120px;
  height: 120px;
}
.weather-details-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.feels-like-container,
.humidity-like-container,
.wind-like-container,
.pre-like-container {
  background-color: #262540;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 12px;
  border: 1px solid #3c3b5e;
  min-width: 150px;
}
.feels-like-container p,
.humidity-like-container p,
.wind-like-container p,
.pre-like-container p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #d4d3d9;
}
.feels-like-container span,
.humidity-like-container span,
.wind-like-container span,
.pre-like-container span {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
}
.daily-info-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.daily-info-container h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}
.daily-forecast {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.weather-card {
  background-color: #262540;
  border-radius: 12px;
  padding: 1rem 0.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid #3c3b5e;
}
.weather-card span {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}
.weather-card img {
  width: 60px;
  height: 60px;
}
.temperature-range {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.temperature-range p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0 1rem;
}
.right-content {
  max-width: 25%;
  border: 1px solid #3c3b5e;
  background-color: #262540;
  border-radius: 20px;
  color: #fff;
  padding: 1.5rem;
}
.hourly-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hourly-forecast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 4rem;
}

.days {
  position: absolute;
  right: 0;
  top: 50px;
  border: 1px solid #3c3b5e;
  display: flex;
  flex-direction: column;
  gap: 0.325rem;
  color: #fff;
  padding: 0.5rem;
  background-color: #262540;
  width: 200px;
  border-radius: 12px;
}
.day {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.625rem 0.5rem;
  cursor: pointer;
}
.day:hover {
  background-color: #302f4a;
  border-radius: 8px;
}
.day input[type="radio"] {
  display: none;
}
.days.opened {
  opacity: 1 !important;
}
.days.closed {
  opacity: 0;
  pointer-events: none;
}
.active {
  background-color: #302f4a;
  border-radius: 8px;
}
.hourly-forecast-header span {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
}
.hourly-forecast-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #3c3b5e;
  cursor: pointer;
  max-width: 120px;
}
.hourly-forecast-dropdown p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.hourly-weather-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 770px;
  overflow-y: auto;
  padding-right: 4px;
}
.hourly-weather-cards::-webkit-scrollbar {
  width: 4px;
}

.hourly-weather-cards::-webkit-scrollbar-thumb {
  background-color: #3c3b5e;
  border-radius: 4px;
}
.weathers-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #302f4a;
  border: 1px solid #3c3b5e;
  border-radius: 8px;
}
.weather-icon {
  display: flex;
  align-items: center;
}
.weather-icon img {
  width: 40px;
  height: 40px;
}
.weather-icon p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}
.weathers-card p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 1300px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .left-content {
    width: 100%;
  }
  .right-content {
    min-width: 100%;
  }
}
@media (min-width: 760px) {
  .feels-like-container,
  .humidity-like-container,
  .wind-like-container,
  .pre-like-container {
    flex: 1;
  }
}
@media (max-width: 768px) {
  .weather-info {
    background: url("../../assets/images/bg-today-small.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }
}
@media (max-width: 650px) {
  .weather-details-container {
    justify-content: center;
  }
  .daily-forecast {
    justify-content: center;
  }
  .temperature-container {
    margin-left: -30px;
    gap: 0;
  }
  .temperature-container span {
    font-size: 4rem;
  }
}
